<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_laporan"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_laporan_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LaporanMasyarakat"
        tools:targetApi="31">
        <activity
            android:name=".HasilLaporanActivity"
            android:exported="false" />
        <activity
            android:name=".List_Data"
            android:exported="false" />
        <activity
            android:name=".Menu.Laporan_Kebakaran"
            android:exported="false" />
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".Login.Forgot_Password"
            android:exported="false" />
        <activity
            android:name=".Login.Login"
            android:exported="false" />
        <activity
            android:name=".Login.Register"
            android:exported="false" />
        <activity
            android:name=".Login.Login_Register"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>